.prettyprint .pln {color: #e6e9ed;}

.prettyprint .str{color: #ffce54;} /* string content */
.prettyprint .kwd{color: #4fc1e9;} /* a keyword */
.prettyprint .com{color: #656d78;} /* a comment */
.prettyprint .typ{color: #4fc1e9;} /* a type name */
.prettyprint .lit{color: #ac92ec;} /* a literal value */
.prettyprint .pun, .opn, .clo{color: #e6e9ed;} /* punctuation, lisp open bracket, lisp close bracket */
.prettyprint .tag{color: #ed5565;} /* a markup tag name */
.prettyprint .atn{color: #a0d468;} /* a markup attribute name */
.prettyprint .atv{color: #ffce54;} /* a markup attribute value */
.prettyprint .dec{color: #ac92ec;} /* a declaration*/
.prettyprint .var{color: #e6e9ed;} /* a variable name */
.prettyprint .fun{color: #e6e9ed;} /* a function name */

/* Put a border around prettyprinted code snippets. */
.prettyprint {
  width: 100%;
  padding: 0px;
  background: #2f3640;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  font: small-caption;
  font-weight: 500;
  font-size: 15px;
  border-collapse: separate;
  border-spacing: 2px;
}

.prettyprint span{
  white-space: pre-wrap;
  line-height: 1.6;
  font-size: 15px;
}

/* Specify class=linenums on a pre to get line numbering */
.prettyprint ol.linenums {
  margin-top: 0; 
  margin-bottom: 0; 
  color: #767676; 
  background: transparent;
} /* IE indents via margin-left */
.prettyprint li{
  padding: 2px 5px 2px 15px; 
  border-left: 1px solid #656565;
}
ol li::marker {
  color: #e6e9ed;
  font-size: 15px;
}
.prettyprint li > *{display: flex; flex-flow: wrap;}
.prettyprint li.L0,
.prettyprint li.L1,
.prettyprint li.L2,
.prettyprint li.L3,
.prettyprint li.L4,
.prettyprint li.L5,
.prettyprint li.L6,
.prettyprint li.L7,
.prettyprint li.L8 { background: transparent }
/* Alternate shading for lines */
.prettyprint li.L1,
.prettyprint li.L3,
.prettyprint li.L5,
.prettyprint li.L7,
.prettyprint li.L9 { background: rgba(0, 0, 0, .1) }
